<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <tile>About us</tile>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="about">
        
<div class="header navbar" >
    <a class="navbar-brand" href="#">
        <img src="Nourish.png" alt="..." height="100">
      </a>
  <div class="align">  
  <a href="home1.html">Home</a>
  <a href="about.html">About Us</a>
  
  <a href="signin.html">Signin</a>
  <a href="signup.html">Signup</a>
  <a href="features.html">Features</a>
  <a href="upload_image.html"><i>Upload image</i></a>

  </div>
</div>
<div class="about1">
<div class="about-section">
    <h1 style="color: black;">About Nourish Nutri Aid</h1>
    <p style="color: black;">We guide Your health and your diet</p>
   
  </div>

  
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="nutri6.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Nutrition Assiss</h2>
          <p class="title">Guider</p>
          <p>It will Helps You to maintain your health perfectly</p>
          
          <p><button class="button">Contact us</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="nutri7.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Meal Planner</h2>
          <p class="title">Meal Planner</p>
          <p>It helps you to plan your meal accrding to your deit.</p>
         
          <p><button class="button">Contact Us</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="exer.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Excercise plan</h2>
          <p class="title">well wisher</p>
          <p>It's guide you to take exersice to fit your body</p>
         
          <p><button class="button">Contact Us</button></p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="footer">
    <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-instagram"></a>
  </div>
    
    </body>
</html>