<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <tile>Home</tile>
    <link rel="stylesheet" href="static\css\style.css"> 
</head>
<body class="full">

<div class="header navbar" >
    <a class="navbar-brand" href="#">
        <img src="Nourish.png" alt="..." height="100">
      </a>
  <div class="align">  
  <a href="\home1">Home</a>
  <a href="\about">About Us</a>
  
  <a href="\signin">signin</a>
  <a href="\signup">signup</a>
  <a href="#">Features</a>
  <a href="#">upload image</a>

  </div>

 

</div>

<div class="sliderpage" >
  <div class="slideshow-container">
  
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="nutri2.png" style="width: 100px;">
    
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="nutri3.jpg" style="width:100%">
  
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="nutri4.jpg" style="width:100%">
   
  </div>
  

   
  </div>
  
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>
  
  <script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 1000); // Change image every 2 seconds
  }
  </script>
  </div>
<div class="row">
  <div class="side">
    <h2>Your Nutrition Assistant</h2>
    <h5>Stay Healthy</h5>
    <div class="fakeimg" style="height:200px;">
        <img src="https://jeevika.s3.jp-tok.cloud-object-storage.appdomain.cloud/nutri3.jpg" alt="..." height="200px">

        <p>
          Our bodies are built of and powered by solely what we eat and drink. Food is the source of all of the energy needed Why do humans have to eat? Is it just because we get hungry? That is not all. People get energy from food. We need energy all the time, when we run, jump, sing, and even when we sleep. We create all the energy we need by eating. The structures components that make up the human body, such as muscles, organs, and bones, are also composed of the nutrients contained in food, meaning that it is. This is why eating and taking in the nutrients that provide energy and become the components of our bodily structures is essential to for sustaining human life.s
        </p>
    </div><br>
    
    
  </div>
  <div class="main">
    <h2>Nourish</h2>
    <h5>Makes YOU Healthy</h5>
    <div class="fakeimg" style="height:200px; width:1000px;">
    <img src="nutrition.jpg">
    </div>
  
    <p>We have always heard the word ‘health’ and ‘fitness’. We use it ourselves when we say phrases like ‘health is wealth’ and ‘fitness is the key’. What does the word health really mean? It implies the idea of ‘being well’. We call a person healthy and fit when he/she function well physically as well as mentally.

    </p><br>
    <p>
      Factors Affecting our Health and Fitness
Good health and fitness is not something which one can achieve entirely on our own. It depends on their physical environment and the quality of food intake. We live in villages, towns, and cities.

In such places, even our physical environment affects our health. Therefore, our social responsibility of pollution-free environment directly affects our health. Our day-to-day habits also determine our fitness level. The quality of food, air, water all helps in building our fitness level.

Role of Nutritious Diet on our Health and Fitness
The first thing about where fitness starts is food. We should take nutritious food. Food rich in protein, vitamins, minerals, and carbohydrates is very essential. Protein is necessary for body growth. Carbohydrates provide the required energy in performing various tasks. Vitamin and minerals help in building bones and boosting our immune system.

However, taking food in uneven quantity is not good for the body. Taking essential nutrients in adequate amount is called a balanced diet. Taking a balanced diet keep body and mind strong and healthy. Good food helps in better sleep, proper brain functioning and healthy body weight.

Include vegetables, fruits, and pulses in daily diet. One must have a three-course meal. Having roughage helps in cleaning inner body organs. Healthy food habit prevents various diseases. Reducing the amount of fat in the diet prevents cholesterol and heart diseases.

Get the huge list of more than 500 Essay Topics and Ideas

Impact of Exercise on our Health
Routine exercise helps improve our muscle power. Exercise helps in good oxygen supply and blood flow throughout the body. Heart and lungs work efficiently. Our bones get strong and joints have the pain free movement.

We should daily spend at least twenty minutes in our exercise. Daily morning walk improves our fitness level. We should avoid strenuous Gym activities. Exercise burns our fat and controls the cholesterol level in the body. Various outdoor games like cricket, football, volleyball, etc keeps our body fit. Regular exercise maintains our body shape.
    </p>
    </div>
</div>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "41973ae4-7b71-4271-8c25-b2aa6135ccb7", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "460a9ce0-51f9-43bb-bd98-a4571c6903e8", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>


<div class="footer">
  <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>

</body>
</html>
